<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="#">Callum Thomas | <small>Software Developer</small></a>
    <span class="h3 mb-0">
      <a href="https://au.linkedin.com/in/callum-thomas99" class="text-white text-decoration-none mx-2"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/callum-d-thomas" class="text-white text-decoration-none mx-2"><i class="fab fa-github"></i></a>
    </span>
  </div>
</nav>