<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>
  <div class="container bg-light rounded-5 d-flex flex-column justify-content-center align-items-center text-center my-5 flex-grow-1">
    <h1 class="display-4">We're Under Construction</h1>
    <p class="lead">Our website is currently under construction. We'll be here soon with our new awesome site.</p>
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <app-footer></app-footer>
</div>